body
{
   padding: 0;
   margin: 0;
   font-size: 62.5%;
   font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
}

#header-mainpage
{
  text-align:center;
  background-color: #070be2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

#p1
{
  text-align:center;
  background-color: #15153680;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}

#text1
{
    text-align:center;
    font-size: 6em;
    margin:0;
    padding-top: 20px;
    animation: color-change 2s infinite;
}

@keyframes color-change {
  0% { color: grey;  }
  50% { color: blue; }
  100% { color: grey; }
}



nav {
  text-align: center;
  overflow: hidden;
  background-color: #00a2ff;
  font-weight: bold;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;

}

nav a {
  text-align: center;
  display:inline-block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  text-align: center;
  background-color: #ddd;
  color: black;
}



main
{
   width: 80%;
   max-width: 1000px;
   margin: 0 auto;
   padding: 2em;
   color: #fff;
   font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
   font-size: 200%;
}
.imgss{
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 20px;
padding: 5px 5px;

}
.imgr{
  width: 24%;
   height: 25%;
   text-align: center;
   font-size: 50px;
   margin-bottom: 10px;
   border-radius: 50%;
   line-height: 100px;
   text-align: center;
  display: flex;    
}
@media screen and (max-width: 600px)
{
  body
  {
   padding: 0;
   margin: 0;
   font-size: 62.5%;
   font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
  }
  
  #header-mainpage
  {
  text-align:center;
  background-color:gray;
  }
 
  #p1
  {
  text-align:center;
  background-color: #0707e2;
}

#rainbow-text
{
    text-align:center;
    font-size: 6em;
    margin:0;
    padding-top: 20px;
    animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: grey; }
  50% { color: blue; }
  100% { color: grey; }
}

nav {
  text-align: center;
  overflow: hidden;
  background-color: #fdfdf6;
  
  
  
}

nav a {
  text-align: center;
  display:inline-block;
  color: #000000;
  text-align: center;

  text-decoration: none;
  font-size: 20px;
  
  width: 100%;
}

nav a:hover {
  text-align: center;
  background-color: #ddd;
  color: black;
}

main
{
   width: 80%;
   max-width: 1000px;
   margin: 0 auto;
   padding: 2em;
   color: #fff;
   font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
   font-size: 200%;
}

.imgss{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;}
  
.imgr{
    width: 100%;
     height: auto;
     text-align: center;
     font-size: 50px;
     margin-bottom: 10px;
     border-radius: 50%;
     line-height: 100px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     display: table;
     
     
  }
}

@media (min-width: 600px) and (max-width: 768px)
{
  body
  {
   padding: 0;
   margin: 0;
   font-size: 62.5%;
   font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
  }
  
  #header-mainpage
  {
  text-align:center;
  background-color:gray;
  }
 
  #p1
  {
  text-align:center;
  background-color: #0707e2;
}

#rainbow-text
{
    text-align:center;
    font-size: 6em;
    margin:0;
    padding-top: 20px;
    animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: grey; }
  50% { color: blue; }
  100% { color: grey; }
}

nav {
  text-align: center;
  overflow: hidden;
  background-color: #fdfdf6;
  
  
  
}

nav a {
  text-align: center;
  display:inline-block;
  color: #000000;
  text-align: center;

  text-decoration: none;
  font-size: 20px;
  
  width: 100%;
}

nav a:hover {
  text-align: center;
  background-color: #ddd;
  color: black;
}

main
{
   width: 80%;
   max-width: 1000px;
   margin: 0 auto;
   padding: 2em;
   color: #fff;
   font-family: "Tw Cen MT", Helvetica, Arial, sans-serif;
   font-size: 200%;
}

.imgss{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
  width:45%
  }
  
.imgr{
    width: 100%;
     height: auto;
     text-align: center;
     font-size: 50px;
     margin-bottom: 10px;
     border-radius: 50%;
     line-height: 100px;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     display: table;
     
     
  }
}